@import 'Main'


form
    @include left
    width: 250px
    margin-left: 20px
    fieldset    
        border: $color 1px solid
        padding: 20px
        p
            display: block
            position: relative
            text-align: center
        legend
            font-family: $font-family
            text-align: center
            color: $color
        label
            font-family: $font-family
            color: $color
        input[type="text"], input[type="password"]
            margin: 10px 0
            padding: 10px
            color: $color
            width: 162px
            border: none
            box-shadow: 0 0 1px 1px rgba(0,0,0,0.23)
        input[type="submit"], a
            padding: 13px
            background: white
            border: 1px solid $color
            font-family: $font-family
            color: $color
            font-size: 15px
            display: inline-block
            line-height: 1
            transition: 200ms all
            border: none
            box-shadow: 0 0 1px 1px rgba(0,0,0,0.23)
            &:hover
                color: white
                background: $color
                cursor: pointer
                transition: 200ms all
        a
            text-decoration: none
            margin-left: 33px
            