@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')
$font-family: 'Raleway'
$color: #303066


@mixin left
    //position: absolute
    left: 0
    top: 0


@mixin center
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

#info, #info2
    background-color: rgba(48,48,102,0.6)
    padding: 30px
    border-radius: 12px
    color: white
    z-index: 54
    line-height: 1.5
    font-family: $font-family
    display: block
    visibility: hidden
    width: 190px
    margin-top: 25px
    margin-bottom: 25px
#info2
    position: absolute
    top: 0
    left: 0
    margin-left: 20px